<div class="pagination-wrapper">
<%= will_paginate @places, previous_label: h("< Previous"), next_label: h("Next >") %>
</div>
<div id="carouselExampleIndicators" class="carousel slide col-10 offset-1 nopadding" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
       <%= image_tag 'friendsicecream.jpg', class: 'img-fluid' %>
         <div class="carousel-caption d-none d-md-block">
         <h3>Find the best ice cream near you</h3>
      </div>
    </div>
    <div class="carousel-item">
       <%= image_tag 'hikingphoto.jpg', class: 'img-fluid' %>
         <div class="carousel-caption d-none d-md-block">
         <h3>Discover the best trails</h3>
      </div>
    </div>
    <div class="carousel-item">
       <%= image_tag 'party.jpg', class: 'img-fluid' %>
         <div class="carousel-caption d-none d-md-block">
         <h3>Explore Nightlife</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<% for place in @places %>

  <div class="booyah-box col-10 offset-1">
    <h1><%= link_to place.name, place_path(place) %></h1><br />
    <i><%= place.address %></i><br /><br />
    <p><%= place.description %></p> <br /><br />

    <% if place.user.present? %>
      <small><%= place.user.email %></small>
    <% end %>

      <% if place.comments.present? %>
        <div class="col-12">
          <blockquote>
            <% if place.comments.last.humanized_rating.present? %>
              <b><%= place.comments.last.humanized_rating %></b> -
            <% end %>
            <%= place.comments.last.message %>
            <small><%= place.comments.last.user.email %></small>
          </blockquote>
        </div>
    <% end %>
  </div>
<% end %>
